body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: white;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  cursor: pointer;
  background: #ff00ff;
  color: white;
}

button:hover {
  opacity: 0.8;
}
